extends layout
mixin memberLink(member)
  a(href=member.url) #{member.name}

mixin parseGrandparents(grandparents)
  if (grandparents.length == 2)
    memberTree(grandparents[0], [1])
  else if (grandparents.length == 1)
    memberTree(grandparents[0])    

mixin memberTree(mother, father)
  if mother || father    
    ul
      if mother
        li
          +memberLink(mother)
          +parseGrandparents(data.motherParents)
      if father
        li
          +memberLink(father)
          +parseGrandparents(data.fatherParents)

block content   
  div(class='row')
    div(class='col-md-12')
      div(class='container ptc-custom u-full-width u-max-full-width')
        div(class='row')
          div(class='three columns ptc-left')
            hr 
            h2 Select family tree (#{data.memberCount})
            .scroll
              ul.members
                each member in data.members
                  li 
                    +memberLink(member) 
                else
                  li There are no members.
          div(class='nine columns ptc-right')
            if data.member
              h1 Family tree of - #{data.member.name}
            div(class='ptc-tree-background')
              div(class='ptc-family-tree')
                ul
                  each member in data.siblings
                    li 
                      +memberLink(member)
                        if data.member.id == member.id
                          +memberTree(data.mother, data.father)
