extends layout

block content   
  div(class='row')
    div(class='col-md-12')
      div(class='container ptc-custom u-full-width u-max-full-width')
        div(class='row')
          div(class='three columns ptc-left')
            hr 
            h2 Select family tree (#{data.memberCount})
            .scroll
              ul.members
                each member in data.members
                  li 
                    a(href=member.url) #{member.name} 
                else
                  li There are no members.
          div(class='nine columns ptc-right')
            if data.member
              h1 Family tree of - #{data.member.name}
            div(class='ptc-tree-background')
              div(class='ptc-family-tree')

