doctype html
html(lang='en')
  head
    block head
      <!-- Basic Page Needs -->
      meta(charset='utf-8')
      title=title
      meta(name='description' content='')
      meta(name='author' content='')

      <!-- Mobile Specific Metas -->
      meta(name='viewport', content='width=device-width, initial-scale=1')
    
      <!-- Font -->
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:300,400,500,600')

      <!-- CSS -->
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      link(rel='stylesheet' href='/stylesheets/normalize.css')
      link(rel='stylesheet' href='/stylesheets/skeleton.css')
      link(rel='stylesheet' href='/stylesheets/style.css')

      <!-- Script -->
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      script(src='/js/script.js')
    
      <!-- Favicon -->
      link(rel='icon' href='static/images/favicon.png' type='image/png')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand.navbar-left(href='https://www.protacon.com/' target='_new')
            img(src='/static/images/protacon_logo.png')
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbarResponsive.collapse.navbar-collapse
          ul.nav.nav-tabs
            li.nav-item.active
              a.nav-link(href="/") Home
                span.sr-only 
            li.nav-item
              a.nav-link(href="/about") About

    .container-fluid
      block content  
      block reset_modal    
        div.modal.fade(id='resetModal' role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button' data-dismiss='modal') &times;
                h4.modal-title Reset DB..
              .modal-body
                p
                  Do you really want to rest the database?
              .modal-footer
                button.btn.btn-default(type='button' data-dismiss='modal') No
                a.btn.btn-info(href='/reset' role='button') Yes