
ul.members li {
 list-style-type: none;
}

.ptc-family-tree li a {
  padding: 30px 5px 5px 5px;
  height: 130px;
 }

ul.members li a:active { 
  background-color: yellow;
}

div.reset-db { 
  padding: 5px;
}

div.reset-db button { 
  width: 100%;
}